main{min-height:70vh;}

.copyright{
  font-size: 0.7rem;
  color: #C8C8C9;
}

.sitemapItem{text-align: center;}

.sitemapItem a{
  color: #C8C8C9;
  line-height: 200%;
}

.fab{color: #C8C8C9;}

#footerSocial{
  color: #C8C8C9;
  text-align: center;
}

#navLogo, #footerLogo{color: #c5a880;}
#sitemap-row{align-items: center;}

@media (min-width: 768px){
  .sitemapItem{text-align: left;}
  #footerSocial{text-align: right}
  #shoppingCart{margin-left: auto;}
}

.card {
    border: none; /* Remove default border */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); /* Subtle lift on hover */
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; /* Stronger shadow on hover */
}

.card-img-top {
    object-fit: cover;
    height: 200px; /* Standardize image height */
}

/* Optional: Style for the featured section */
.featured-products-section {
    background-color: #f8f9fa; /* Light grey background */
}